<footer class="py-5 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Contáctenos</h5>
        <p>Email: info@universidadopengate.com<br>Teléfono: (506)55443322<br>Dirección: San Sebastián, San José, Costa Rica</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="index.html" class="text-white text-decoration-none">Inicio</a></li>
          <li><a href="programs.html" class="text-white text-decoration-none">Programas</a></li>
          <li><a href="admissions.html" class="text-white text-decoration-none">Admisiones</a></li>
          <li><a href="about-us.html" class="text-white text-decoration-none">Nosotros</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contácto</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Siguenos en:</h5>
        <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-4"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-twitter fs-4"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-instagram fs-4"></i></a>
        <a href="#" class="text-white"><i class="bi bi-linkedin fs-4"></i></a>
      </div>
    </div>
    <div class="text-center mt-4">
      <small>&copy; 2025 Universidad Opengate. Todos los Derechos Reservados.</small>
    </div>
  </div>
</footer>
